@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'humane-bold';
  src: url('../../public/fonts/Humane-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'bebas-neue';
  src: url('../../public/fonts/BebasNeue-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'humane-regular';
  src: url('../../public/fonts/Humane-Regular.ttf') format('truetype');
}

.horizPink {
  text-decoration: none;
  word-wrap: break-word;
  position: relative;
  background: linear-gradient(to right, #6CB592 0 0) left 0 bottom 0px/0% 100% no-repeat;
  transition: all 0.2s ease-in-out;
}

.horizPink:hover {
  background: linear-gradient(to right, #6CB592 0 0) left 0px bottom 0px/120% 100% no-repeat;
  transition: all 0.2s ease-in-out;
  mix-blend-mode: difference;
  color: #fff
}

